[submodule "_vendor/dayu_widgets"]
	path = _vendor/dayu_widgets
	url = git@github.com:FXTD-ODYSSEY/dayu_widgets.git
[submodule "_vendor/dayu_path"]
	path = _vendor/dayu_path
	url = git@github.com:phenom-films/dayu_path.git
[submodule "_vendor/CefWidget"]
	path = _vendor/CefWidget
	url = git@github.com:FXTD-ODYSSEY/CefWidget.git
